<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empresa">
    
    <select id="obtenerEstatus" resultType="modelo.pojo.Estatus">
        SELECT * from estatus
    </select>
    
    <select id="obtenerCiudadesPorEstado" resultType="modelo.pojo.Ciudad">
        
        SELECT * FROM ciudad WHERE id_estado = #{id_estado}
        
    </select>
    
    
    <select id="obtenerEmpresas" resultType="modelo.pojo.Empresa">
        SELECT nombre, nombre_comercial, nombre_representante, email, telefono, pagina_web, rfc  FROM empresa
    </select>
    
    
    <select id="obtenerEmpresaPorId" resultType = "modelo.pojo.DatosRegistroEmpresa">
        SELECT 
        e.nombre AS 'empresa.nombre',
        e.nombre_comercial AS 'empresa.nombre_comercial',
        e.logo AS 'empresa.logo',
        e.nombre_representante AS 'empresa.nombre_representante',
        e.email AS 'empresa.email',
        e.telefono AS 'empresa.telefono',
        e.pagina_web AS 'empresa.pagina_web',
        e.rfc AS 'empresa.rfc',
        e.estatus_id AS 'empresa.estatus_id',

        d.calle AS 'domicilio.calle',
        d.numero AS 'domicilio.numero',
        d.colonia AS 'domicilio.colonia',
        d.codigo_postal AS 'domicilio.codigo_postal',
        d.id_ciudad AS 'domicilio.id_ciudad'

    FROM 
        empresa e
    INNER JOIN 
        domicilio d ON e.direccion_id = d.id
    WHERE 
        e.id = #{id}
    </select>
    

    
    <insert id="agregarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
      {CALL registrarEmpresa(
        #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
        #{empresa.nombre_comercial, mode=IN, jdbcType=VARCHAR},
        #{empresa.nombre_representante, mode=IN, jdbcType=VARCHAR},
        #{empresa.email, mode=IN, jdbcType=VARCHAR},
        #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
        #{empresa.pagina_web, mode=IN, jdbcType=VARCHAR},
        #{empresa.rfc, mode=IN, jdbcType=VARCHAR},
        
        #{domicilio.calle, mode=IN, jdbcType=VARCHAR},
        #{domicilio.numero, mode=IN, jdbcType=INTEGER},
        #{domicilio.colonia, mode=IN, jdbcType=VARCHAR},
        #{domicilio.codigo_postal, mode=IN, jdbcType=INTEGER},
        #{domicilio.id_ciudad, mode=IN, jdbcType=INTEGER},
        
        #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
        #{error, mode=INOUT, jdbcType=VARCHAR}
    )}
        
    </insert>
    
    <update id="editarEmpresa" parameterType="modelo.pojo.DatosRegistroEmpresa" statementType="CALLABLE">
    {CALL editarEmpresa(
        #{empresa.id, mode=IN, jdbcType=INTEGER},
        #{empresa.nombre, mode=IN, jdbcType=VARCHAR},
        #{empresa.nombre_comercial, mode=IN, jdbcType=VARCHAR},
        #{empresa.nombre_representante, mode=IN, jdbcType=VARCHAR},
        #{empresa.email, mode=IN, jdbcType=VARCHAR},
        #{empresa.telefono, mode=IN, jdbcType=VARCHAR},
        #{empresa.logo, mode=IN, jdbcType=BLOB},
        #{empresa.pagina_web, mode=IN, jdbcType=VARCHAR},
        
        #{domicilio.calle, mode=IN, jdbcType=VARCHAR},
        #{domicilio.numero, mode=IN, jdbcType=INTEGER},
        #{domicilio.colonia, mode=IN, jdbcType=VARCHAR},
        #{domicilio.codigo_postal, mode=IN, jdbcType=INTEGER},
        #{domicilio.id_ciudad, mode=IN, jdbcType=INTEGER},
        
        #{filasAfectadas, mode=INOUT, jdbcType=INTEGER},
        #{error, mode=INOUT, jdbcType=VARCHAR}
    )}
</update>


<update id="subirLogoEmpresa" parameterType="modelo.pojo.Empresa">
     UPDATE empresa
        SET logo = #{logo} 
        WHERE id = #{id}
    
</update>


 <delete id="eliminarEmpresa" parameterType="Integer">
    DELETE FROM empresa
    WHERE id = #{id}
    AND NOT EXISTS (
      SELECT 1
      FROM sucursal
      WHERE sucursal.empresa_id = #{id}
    )
</delete>

    
    

</mapper>
