<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="promocion">
    
    
    <select id="obtenerPromociones" resultType="modelo.pojo.Promocion">
        SELECT * FROM promocion
    </select>
    
    <select id="obtenerPromocionesEmpresa" resultType="modelo.pojo.Promocion">
        SELECT * FROM promocion
        WHERE empresa_id = {id}
    </select>
    
    
    <insert id="registrarPromocion" parameterType="modelo.pojo.Promocion">
        
        
        
    </insert>
    
    
    

</mapper>
